<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>파일업로드</h2>
    </div>
    <form id="files"
          th:action="|location.href='@{/files}'|" method="post" enctype="multipart/form-data">
        <div class="col">
            <label>파일업로드</label>
            <input name="file" id="file" type="file" >
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary float-end"
                        th:onclick="|location.href='@{/member/signup}'|"
                        type="submit">파일업로드 제출</button>
            </div>

        </div>
    </form>
</div>
</body>
</html>