<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<!--전역 변수 설정-->
<!--<th:block th:with="path=${#ctx.request.servletContext.contextPath}" th:var="path" ></th:block>-->
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>로그인</h2>
    </div>
<form id="login" th:action="@{${servletPath + '/login'}}" method="post">
    <div>
        <label for="id">아이디</label>
        <input type="text" id="id" name="id" class="formcontrol" placeholder="4~20자리 / 영문, 숫자, 특수문자 '_' 사용가능">
    </div>
    <div>
        <label for="pwd">비밀번호</label>
        <input type="text" id="pwd" name="pwd" class="formcontrol" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합">
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    type="submit">로그인</button>
        </div>
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/member/signup}'|"
                    type="button">회원가입</button>
        </div>

    </div>


</form>

</div>
</body>
</html>